@model IEnumerable<WebMVC.Domain.Entities.Department>

<div class="container">
    <h1 class="display-4">Список кафедр</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Додати нову кафедру</a>
    </p>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Назва кафедри</th>
                <th style="width: 250px;">Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td class="align-middle">@item.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Редагувати</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" 
                           onclick="return confirm('Ви впевнені, що хочете видалити кафедру: @item.Name?');">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>